#main_cart_box {
  #cart_header_box {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(143, 67, 214);
    #cart_header_txt {
      font-size: 45px;
    }
  }
  #cart_box {
    height: 150px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #product_title {
      font-size: 25px;
    }
    #product_image {
      height: 100px;
    }
    #unitary_price_p {
      font-size: 25px;
    }
    #eraser_btn {
      width: 200px;
      border: 0;
      border-radius: 30px;
      font-size: 25px;
    }
  }
  #empty_cart_btn_box {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    #empty_cart_btn {
      width: 150px;
      border: 0;
      border-radius: 30px;
      font-size: 25px;
    }
  }
  #total_price_p {
    text-align: center;
    font-size: 25px;
    background-color: rgb(255, 255, 133);
  }
}
