#itemCountMain {
  margin-top: 10px;
  grid-area: a3;
  display: flex;
  justify-content: center;
  align-items: center;
  #itemCountBox {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    button {
      font-size: 40px;
    }
  }
}
